.Dictionary section {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.Dictionary h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary .form-input,
.form-search {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  padding: 6px 4px;
}

.Dictionary .form-input {
  width: 80%;
}

.Dictionary .form-search {
  width: 20%;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .Dictionary .form-input {
    width: 70%;
  }
  .Dictionary .form-search {
    width: 30%;
  }
}
